/AddNumbers/nbproject/private/
/AddNumbers/build/
/CheckPrimeNumber/nbproject/private/
/CheckPrimeNumber/build/
/FibonacciSeries/nbproject/private/
/Result/nbproject/private/
/Result/build/
/HelloWorld/nbproject/private/
/MileKiloConterver/nbproject/private/
/MileKiloConverter/nbproject/private/